name: bootc-build-postgres

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-postgres:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install podman
        run: |
          sudo apt-get update
          sudo apt-get install -y podman

      - name: Install ShellCheck
        run: sudo apt-get install -y shellcheck

      # - name: ShellCheck build scripts
      #   run: |  
      #     shellcheck build_scripts/*.sh system_files/opt/postgres/scripts/*.sh system_files/opt/scripts/*.sh

      - name: ShellCheck all shell scripts
        run: |
          shellcheck $(find . -type f -name "*.sh")

      - name: CRLF check
        run: |
          if grep -R $'\r' build_scripts Containerfile; then
            echo "CRLF line endings detected. Use LF only."
            exit 1
          fi

      - name: Ensure required scripts are executable
        run: |
          for dir in \
            build_scripts \
            system_files/opt/postgres/scripts \
            system_files/opt/scripts
          do
            if [ ! -d "$dir" ]; then
              continue
            fi

            non_exec=$(find "$dir" -type f -name "*.sh" ! -perm -111)

            if [ -n "$non_exec" ]; then
              echo "The following scripts in $dir are not executable:"
              echo "$non_exec"
              exit 1
            fi
          done


      - name: Build postgres bootc image
        run: |
          podman build \
            -f Containerfile \
            -t bootc-postgres:test \
            --build-arg VARIANT=postgres \
            --build-arg HARDENED=true \
            --build-arg DEFAULT_PASSWORD=dummy \
            --build-arg BOOTLOADER_PASSWORD=dummy \
            --build-arg POSTGRES_EXPORTER_PASSWORD=dummy \
            --build-arg POSTGRESQL_REPLICATION_PASSWORD=dummy \
            --no-cache \
            .
